<form
  class="modals_wrapper"
  trCloseByEscape
  (escapeAction)="handleClose.emit()"
  (click)="handleClickOutside($event)"
  (keyup)="handleClickOutside($event)"
  (submit)="handleAcceptCreateBoard($event)"
>
  <div class="modal">
    <button class="btn__close" (click)="handleClickClose($event)">
      <span></span>
      <span></span>
    </button>
    <h1>Створити дошку</h1>
    <label for="board-title">Назва дошки*</label>
    <div class="title">
      <input
        id="board-title"
        trAutofocus
        [formField]="titleForm.title"
        [class.title-invalid]="isInvalidTitle"
      />
      @if (isInvalidTitle) {
        @for (error of titleForm.title().errors(); track error) {
          <div class="error">{{ error.message }}</div>
        }
      }
    </div>
    <button
      type="submit"
      class="btn-accept"
      [class.disabled]="isDisabledCreateBtn"
      [disabled]="isDisabledCreateBtn"
    >
      Створити
    </button>
  </div>
</form>
