@use 'variables' as *;
@use 'mixins' as *;

.board {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-self: flex-start;
}

.home {
  position: fixed;
  height: 60px;
  width: 150px;
  left: 0;
  justify-items: center;
  align-content: center;
}

.color-picker-wrapper {
  display: inline-block;
  position: fixed;
  right: 0;
  width: 60px;
  height: 60px;
  justify-items: center;
  align-content: center;
}

.color-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  border: none;
}

.color-swatch {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $secondary-color;
  cursor: pointer;
}

.content {
  position: fixed;
  left: 0;
  height: 60px;
  width: 100%;
  justify-items: center;

  .title {
    display: flex;
    flex-direction: column;

    input {
      width: auto;
      padding: 10px;
      text-align: center;
    }

    .title-invalid {
      color: red;
    }

    @include error;
  }

  .title-readonly input {
    display: block;
    font-size: 2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .title-edit input {
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
  }
}

.container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: start;
  width: 100vw;
  height: 100%;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
}
