@use './variables' as *;

@mixin button {
  button {
    width: 100%;
    padding: 10px;
    background-color: $primary-background;
    border: 1px solid $primary-background;
    color: $primary-color;
    font-size: 16px;
    border-radius: 5px;
    text-align: left;
  }

  button:hover {
    cursor: pointer;
    background-color: $secondary-background;
    border: 1px solid $primary-color;
  }
}

@mixin error {
  .error {
    margin: 0;
    color: red;
    font-size: 12px;
  }
}

@mixin btn__action($name: 'remove', $top: 8px, $right: 8px, $size: 15px) {
  .btn__#{$name} {
    position: absolute;
    top: $top;
    right: $right;
    height: $size;
    width: $size;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border-radius: 50%;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      height: 2px;
      background-color: darkgrey;

      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    &:hover {
      color: $primary-background;
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}
