@use 'ngx-toastr/toastr';

$primary-color: white;
$secondary-color: #b0b0b0;
$primary-background: #222;
$primary-background-element: #3b3b3b;
$secondary-background: #525dce;
$secondary-background-hover: #6872c6;
