@use 'mixins' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);

  .modal-content {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(249, 250, 251);
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 15px;

    @include btn__action('close', 8px, 8px, 25px);

    h1 {
      text-align: center;
    }

    .title {
      display: flex;
      flex-direction: column;

      input {
        width: auto;
        padding: 10px;
        text-align: left;
        font-size: 1em;
        font-weight: bold;
      }

      .title-invalid {
        color: red;
      }

      @include error;
    }

    .btn-accept {
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 1rem;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    @include button;
  }
}
