<form class="modal" (submit)="handleAcceptCreateBoard($event)">
  <div class="modal-content">
    <button class="btn__close" (click)="handleClickClose($event)">
      <span></span>
      <span></span>
    </button>
    <h1>Створити дошку</h1>
    <label [htmlFor]="titleForm.title()">Назва дошки*</label>
    <div class="title">
      <input
        trAutofocus
        [formField]="titleForm.title"
        [class.title-invalid]="
          titleForm().invalid() && (titleForm().dirty() || titleForm().touched())
        "
      />
      @if (
        titleForm.title().invalid() && (titleForm.title().dirty() || titleForm.title().touched())
      ) {
        @for (error of titleForm.title().errors(); track error) {
          <div class="error">{{ error.message }}</div>
        }
      }
    </div>
    <button
      class="btn-accept"
      [class.disabled]="
        this.titleForm.title().invalid() &&
        (titleForm.title().dirty() || titleForm.title().touched())
      "
      [disabled]="
        this.titleForm.title().invalid() &&
        (titleForm.title().dirty() || titleForm.title().touched())
      "
      (click)="handleAcceptCreateBoard($event)"
    >
      Створити
    </button>
  </div>
</form>
