<div class="board">
  <header>
    <div class="board-header">
      <div class="board-content">
        <p>{{ board?.title }}</p>
      </div>

      <div class="board-home">
        <a [routerLink]="['']"><-Додому</a>
        <!--        <Link to={'/'}>{'<-Додому'}</Link>-->
      </div>
      <div class="color-picker-wrapper">
        <!--        <input-->
        <!--          type='color'-->
        <!--          className='board-color-input'-->
        <!--          ref={inputRef}-->
        <!--          value={backgroundColor}-->
        <!--          onChange={handleColorChange}-->
        <!--        ></input>-->
        <div class="color-swatch"></div>
      </div>
    </div>
  </header>
  <div class="board-container">
    @for (list of board?.lists; track list.id) {
      <tr-list [title]="list.title" [cards]="list.cards"></tr-list>
    }
    <button class="board-list-add-btn">+ Додайте ще один список</button>
  </div>
</div>
