<div class="board">
  <header>
    <div class="header">
      <div class="content">
        <div
          class="title"
          [class.title-readonly]="titleModel().titleReadonly"
          [class.title-edit]="!titleModel().titleReadonly"
        >
          <input
            type="text"
            [formField]="titleForm.title"
            [class.title-invalid]="
              titleForm().invalid() && (titleForm().dirty() || titleForm().touched())
            "
            (click)="handleTitleClick($event)"
            (blur)="handleTitleBlur($event)"
          />
          @if (titleForm().invalid() && (titleForm().dirty() || titleForm().touched())) {
            @for (error of titleForm.title().errors(); track error) {
              <div class="error">{{ error.message }}</div>
            }
          }
        </div>
      </div>
      <div class="home">
        <a [routerLink]="['']"><-Додому</a>
      </div>
      <div class="color-picker-wrapper">
        <input
          #inputColor
          type="color"
          class="color-input"
          value="{{ this.titleModel().backgroundColor }}"
          (change)="handleColorChange($event)"
        />
        <button
          class="color-swatch"
          [style]="{
            backgroundColor: this.titleModel().backgroundColor,
            color: this.titleModel().backgroundColor,
          }"
          (click)="inputColor.click()"
        >
          C
        </button>
      </div>
    </div>
  </header>
  <div class="container">
    @for (list of board?.lists; track list.id) {
      <tr-list
        [boardId]="boardId()"
        [listId]="list.id"
        [title]="list.title"
        [cards]="list.cards"
        (handleRemoteList)="handleRemoteList($event)"
      ></tr-list>
    }
    <tr-list-create (handleCreateList)="handleCreateList($event)"></tr-list-create>
  </div>
</div>
