@if (cardModal()) {
  <form
    class="modals_wrapper"
    trCloseByEscape
    (escapeAction)="handleModalClose()"
    (click)="handleClickOutside($event)"
    (keydown.esc)="handleModalClose()"
  >
    <div class="modal">
      <header class="modal_header">
        <button class="btn__close" (click)="handleModalClose()">
          <span></span>
          <span></span>
        </button>
      </header>
      <div class="modal_body">
        <div class="form">
          <div class="title">
            <input
              id="title"
              type="text"
              [formField]="cardForm.title"
              [class.title-invalid]="isInvalidTitle()"
              (blur)="handleInputOnBlur()"
              (keydown.escape)="handleEscape($event)"
            />
            @if (isInvalidTitle()) {
              @for (error of cardForm.title().errors(); track error) {
                <div class="error">{{ error.message }}</div>
              }
            }
            <p>в колонці
              <ins>{{ list()?.title }}</ins>
            </p>
          </div>
          <div class="description">
            @if (isEditingDescription() || !cardForm.description().value()) {
              <textarea
                #descriptionTextarea
                placeholder="Card description"
                rows="3"
                [formField]="cardForm.description"
                (focus)="isEditingDescription.set(true)"
                (blur)="handleInputOnBlur()"
                (keydown.escape)="handleEscape($event)"
              ></textarea>
            } @else {
              <div
                class="description_viewer"
                (click)="toggleEditDescription()"
                [innerHTML]="cardForm.description().value() | markdown"
              ></div>
            }
          </div>
        </div>
        <div class="modal_actions">
          <span>ДІЇ</span>
          <button disabled>Копіювати</button>
          <button disabled>Перемістити</button>
          <button disabled>Заархівувати</button>
          <button (click)="handleDeleteCard()">Видалити</button>
        </div>
      </div>
    </div>
  </form>
}
