<div class="add-card">
  @if (this.titleModel().newElement) {
    <div class="card-new">
      <textarea
        #titleInput
        class="card-input"
        trAutofocus
        [formField]="titleForm.title"
        [class.title-invalid]="isInvalidTitle()"
        (blur)="handleBlurTitle($event)"
      ></textarea>
      @if (isInvalidTitle()) {
        @for (error of titleForm.title().errors(); track error) {
          <div class="error">{{ error.message }}</div>
        }
      }
      <div class="card-btn">
        <button
          class="card-btn-accept"
          [class.disabled]="isDisabledButton"
          [disabled]="isDisabledButton"
          (mousedown)="handleClickAcceptCreateCard()"
        >
          Додати картку
        </button>
        <button class="card-btn-close" (mousedown)="handleClickCloseCreateCard()">&times;</button>
      </div>
    </div>
  } @else {
    <button class="card-add-btn" (click)="handleClickAddCard()">+ Додати картку</button>
  }
</div>
