<div class="home">
  <h1>Мої дошки</h1>
  <div class="container">
    @for (board of boards; track board.id) {
      <a [routerLink]="['board', board.id]">
        <div class="board" [style.background]="board.custom?.background">
          <h4>{{ board.title }}</h4>
          <button class="btn__remove" (click)="handleClickRemoveBoard($event, board.id)">
            <span></span>
            <span></span>
          </button>
        </div>
      </a>
    }
    <button class="board-add" (click)="handleClickAddBoard()">+ Додати дошку</button>
  </div>
  @if (boardModal) {
    <tr-board-create
      (handleClose)="handleModalClickClose()"
      (handleCreateBoard)="handleCreateBoard($event)"
    ></tr-board-create>
  }
</div>
