<div class="add-card">
  @if (this.titleModel().newCard) {
    <div class="card-new">
      <textarea class="card-new-input" trAutofocus [formField]="titleForm.title"></textarea>
      @if (
        titleForm.title().invalid() && (titleForm.title().dirty() || titleForm.title().touched())
      ) {
        @for (error of titleForm.title().errors(); track error) {
          <div class="error">{{ error.message }}</div>
        }
      }
      <div class="card-btn">
        <button
          class="card-btn-accept"
          [class.disabled]="
            this.titleForm.title().invalid() &&
            (titleForm.title().dirty() || titleForm.title().touched())
          "
          [disabled]="
            this.titleForm.title().invalid() &&
            (titleForm.title().dirty() || titleForm.title().touched())
          "
          (mousedown)="handleClickAcceptCreateCard($event)"
        >
          Додати картку
        </button>
        <button class="card-btn-close" (mousedown)="handleClickCloseCreateCard($event)">
          &times;
        </button>
      </div>
    </div>
  } @else {
    <button class="card-add-btn" (click)="handleClickAddCard($event)">+ Додати картку</button>
  }
</div>
