@use 'variables' as *;
@use 'mixins' as *;

.list {
  display: flex;
  flex-direction: column;
  width: 260px;
  position: relative;
  background-color: $primary-background;
  color: $primary-color;
  border: 1px solid $primary-background;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;

  @include btn__action();
}

.title {
  margin: 6px 24px 6px 6px;
  display: flex;
  flex-direction: column;
  border: 1px solid $primary-background;

  input {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    border: none;
    color: $primary-color;
  }

  .title-invalid {
    color: red;
  }

  @include error;
}

.title-readonly input {
  cursor: pointer;
  background-color: transparent;
}

.title-edit input {
  background-color: $primary-background-element;
}

.card-add-btn {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 16px;
  align-items: center;
  color: $secondary-background;
  background-color: $primary-background;
  border: none;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background-color: $secondary-color;
  }
}
