<div class="list-add">
  @if (this.titleModel().newList) {
    <div class="list-new">
      <input
        #titleInput
        class="list-input"
        trAutofocus
        [formField]="titleForm.title"
        [class.title-invalid]="titleForm.title().invalid() && titleForm.title().dirty()"
        (blur)="handleBlurTitle($event)"
      />
      @if (titleForm.title().invalid() && titleForm.title().dirty()) {
        @for (error of titleForm.title().errors(); track error) {
          <div class="error">{{ error.message }}</div>
        }
      }
      <div class="list-btn">
        <button
          class="list-btn-accept"
          [class.disabled]="isDisabledTitle()"
          [disabled]="isDisabledTitle()"
          (mousedown)="handleClickAcceptCreateList($event)"
        >
          Додати список
        </button>
        <button class="list-btn-close" (mousedown)="handleClickCloseCreateList($event)">
          &times;
        </button>
      </div>
    </div>
  } @else {
    <button class="list-add-btn" (click)="handleClickAddList($event)">
      + Додайте ще один список
    </button>
  }
</div>
